<!doctype html>
<html lang="en" ng-app="checkEnglish">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>

    </style>
  </head>
<body ng-controller="ctrlCheckEnglish">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sx-12">
        <div class="question" style="min-height:50px;">
          <p>To translate: {{displayQuestion}}</p>
          <p ng-if="trans_status">Transcription: {{trans}}</p>
        </div>
        <div class="answer">
          <input class="form-control" type="text" name="" value="" ng-model="answer" ng-keyup="foo($event)">
        </div>
        <div class="result">
          {{result}}
        </div>
      </div>
      <div class="col-sm-4 col-sx-12" >
        <h4>Settings</h4>
        <input type="checkbox" name="" value="" ng-model="trans_status" ng-init="trans_status = false"> I need transcription
        <h4>Select lessons:</h4>
        <input type="checkbox" name="" value="" ng-model="lesson_3" ng-init="lesson_3 = false" ng-change="changeVocab()"> Lesson 3
        <input type="checkbox" name="" value="" ng-model="lesson_4" ng-init="lesson_4 = false" ng-change="changeVocab()"> Lesson 4
        <input type="checkbox" name="" value="" ng-model="lesson_5" ng-init="lesson_5 = false" ng-change="changeVocab()"> Lesson 5
      </div>
    </div>
  </div>

</body>
</html>
